{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<style type="text/css" media="screen">
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .box {
    flex: 1;
    text-align: left;
    align-content: center;
    margin: 10px 10px 20px 10px;
  }

  .box:first-child {
    max-width: 22%;
  }

  .box:last-child {
    margin-left: 20px;
  }

  .post-image-custom {
    width: 100%;
    height: 125px;
    object-fit: cover;
  }

  .table-text-custom {
    margin: 0;
  }

  .title-custom > p {
    margin: 1px;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    .box {
      margin: 0;
    }
    .box:first-child {
      max-width: 100%;
      margin-bottom: 5px;
    }
    .box:last-child {
      margin-left: 0;
      margin-bottom: 40px;
    }
    .post-image-custom {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }
    .table-text-custom {
      margin: 0;
      margin-bottom: 10px;
    }
  }
</style>

<div class="{{ include.type | default: 'list' }}__item">
  <article
    class="archive__item"
    itemscope
    itemtype="https://schema.org/CreativeWork"
    {% if post.locale %} lang="{{ post.locale }}" {% endif %}>
    {% if include.type == "grid" and teaser %}
    <div class="archive__item-teaser">
      <img src="{{ teaser | relative_url }}" alt="" />
    </div>
    <h2 class="archive__item-title no_toc" itemprop="headline">
      {% if post.link %}
      <a href="{{ post.link }}">{{ title }}</a>
      <a href="{{ post.url | relative_url }}" rel="permalink"
        ><i class="fas fa-link" aria-hidden="true" title="permalink"></i
        ><span class="sr-only">Permalink</span></a
      >
      {% else %}
      <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }} </a>
      {% endif %}
    </h2>

    {% endif %} {% if include.type == "grid" and teaser %} {% if post.excerpt %}
    <p class="archive__item-excerpt" itemprop="description">
      {{ post.excerpt | markdownify | strip_html | truncate: 160 }}
    </p>
    {% endif %} {% else %} {% if post.excerpt %}
    <div class="container">
      <div class="box">
        <img
          src="{{ teaser | relative_url }}"
          class="post-image-custom"
          width="300"
          height="169"
        />
      </div>
      <div class="box">
        <h2 class="table-text-custom" itemprop="headline">
          {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a>
          <a href="{{ post.url | relative_url }}" rel="permalink"
            ><i class="fas fa-link" aria-hidden="true" title="permalink"></i
            ><span class="sr-only">Permalink</span></a
          >
          {% else %}
          <a href="{{ post.url | relative_url }}" rel="permalink">
            <div class="title-custom">{{ title }}</div>
          </a>
          {% endif %}
        </h2>
        <p
          class="archive__item-excerpt text-description-custom"
          itemprop="description"
        >
          {{ post.excerpt | markdownify | strip_html | truncate: 160 }}
        </p>
        {% endif %} {% include page__meta.html type=include.type %}
      </div>
    </div>

    {% endif %}
  </article>
</div>
